.bg{
    background-image: url('../img/background.png');
}
// ---------------header--------------
.header {
    border-top: 1px solid #226ed3;

    height: 86px;
 
    z-index: 999999;
	background-color: #ffffff;
	
	height: 80px;
	position: sticky;
	top: 0;
	left: 0;

}

.logo{width: 164px;
    height: 41px;
    
 
}

.container{
    max-width: 1178px;
    margin: 0 auto;
    
    height: 86px;
   
}
.container_herader{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
   
    align-items: center;

}


.menu_list {
    display: flex;
    margin-top: 7px;
    margin-right: -45px;
    
    li{
        margin-right: 40px;
        font-family: 'Open Sans';

    }
    a{
        font-size: 14px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #2f3f54;
    }
}

// ---------------hero--------------

.Hero {
   
    width: 1920px;
    height: 923px;
   
    padding: 165px 0 0 0;
    margin: 0 auto;
    top: 0;
	left: 0;
    
}
.container_info{
   
    display: flex;
    
    
}
.info {
    max-width: 600px;
    margin-right: 56px ;
    color: white;
    
    
}

.info_subtitle {
    font-family: Lato;
font-size: 14px;
line-height: 24px;
font-weight: 400;

}
.info_title {
    font-family: Roboto;
font-size: 48px;
line-height: 52px;
font-weight: 900;
width: 600px;

color: #ffffff;
}
.info_info {
   
    margin-top: 26px;
    margin-bottom: 42px;
    p{
        font-family: Lato;
font-size: 19px;
margin-bottom: 14px;
font-weight: 700;

    }
    span{
        font-family: Lato;
font-size: 14px;
line-height: 24px;
font-weight: 400;

    }
}
.info_list {
    li{
        font-family: Lato;
font-size: 16px;
line-height: 27px;
font-weight: 700;
color: #ffffff;
    }
    .item{
        color: black;
        padding-right: 11px;
        &w{
            color: black;
        }

    }
    
}
.info_btn {
    font-family: Lato;
font-size: 14px;
line-height: 24px;
font-weight: 400;
text-transform: uppercase;
color: #ffffff;
border-radius: 30px;
border: 3px solid #ffffff;
padding: 13px 44px ;

}
.btn{
    margin-top: 53px;
}
.info_btn_ {
    margin-top: 36px;
    font-family: Lato;
font-size: 14px;
line-height: 24px;
font-weight: 400;
color: #ffffff
}

.img_box {
    position: relative;
    z-index: 99999;
}
.circle {
    width: 238px;
    height: 230px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #212121;
    position: absolute;
    top: -65px;
    right: -60px;
}
.circle_title {
    margin-bottom: 10px;
    text-align: left;
    font-family: Lato;
font-size: 14px;
line-height: 24px;
font-weight: 400;
width: 140px;
  
}
.circle_price {
    font-family: Lato;
font-size: 54px;
line-height: 24px;
font-weight: 700;
margin-bottom: 5px;
}
.circle_date {
    font-family: Lato;
font-size: 14px;
line-height: 24px;
font-weight: 400;
text-align: right;
width: 140px;
}


// price

.price{
   
    height: 1350px;
}

.price_title{
text-align: center;
margin-top: 156px;
font-family: Roboto;
font-size: 40px;
line-height: 50px;
font-weight: 700;
color: #2f3f54;
span{
color: #2575e7;
}
}

.price_info{

  y: Lato;
font-size: 14px;
line-height: 24px;
font-weight: 400;
color: #4a6385;

}



.price_info {
    font-family: Lato;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #4a6385;
    text-align: center;
    max-width: 553px;
    margin: 35px auto 0;
    a{
        color: #e74c3c;
    }
    span{
        color: #42d6c1;
    }
}
.price_items {
    display: flex;
    justify-content: space-between;
}
.price_item {
    
    max-width: 360px;
   
    
    background-color: #ffffff;
    box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
margin-top: 124px;
    border-radius: 2px 2px 0px 0px;
    padding: 0 50px;
    position: relative;
    overflow: hidden;
}


.price_item_num {
    position: absolute;
    top: -300px;
    
    display: flex;
width: 265px;
height: 400px;
font-family: 'Roboto', sans-serif;
font-size: 32.9px;
line-height: 20px;
font-weight: 700;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #267ae9;
border-radius: 136px;
align-items: flex-end;
justify-content: center;
padding-bottom: 48px ;
span{
    font-size:16px;
    position: relative;
    top: 5px;
}

}
.price_item_img {
    padding-top: 128px;
    text-align: center;
    margin-bottom: 30px;
    min-height: 243px;
}
.price_item_title {
    font-family: Roboto;
font-size: 31.3px;
line-height: 50px;
font-weight: 700;
color: #267ae9;
margin-bottom: 33px;
}
.price_item_text {
    margin-bottom: 50px;
    font-family: Lato;
font-size: 14px;
line-height: 24px;
font-weight: 400;
color: #4a6385;
}
.price_item_list {
    margin-bottom: 130px;
   
    
    li{
        position: relative;
        
        font-family: 'Font Awesome';
        font-size: 16px;
        line-height: 36px;
        font-weight: 400;
        letter-spacing: 0.04em;
        color: #4a6385;
    }
    i{
        margin-right: 25px;
    }
 
}
.price_item_btn {
text-align: center;

position: absolute;
bottom: 0;
left: 0;
right: 0;
padding-top: 22px;
padding-bottom: 25px;
padding-left: 10px;
background-color: #2575e8;
    font-family: Roboto;
font-size: 17.2px;
line-height: 20px;
font-weight: 700;
letter-spacing: 0.04em;
color: #ffffff;

}


//-------people-----------------


.people {
    height: 1120px;
   
  
}

.Little {
text-align:center ;
font-family: Roboto;
font-size: 40px;
line-height: 50px;
font-weight: 700;
color: #2f3f54;
span{
    color: #267ae9;
}


}
.people_slider {
    margin-top: 167px;
    display: flex;
}
.people_slider_item {
    margin-left: 93px;
 
height: 347px;
    background-color: #ffffff;
box-shadow: 0px 21px 49px 1px rgba(41,44,61,0.15);
}
.people_box {
    display: flex;
}
.people_text {
    width: 235px;
    font-family: Lato;
font-size: 16px;
line-height: 26px;
font-weight: 400;
color: #4a6385;
}
.people_autor {
   margin-top: 38px;
font-family: Lato;
font-size: 16px;
line-height: 30px;

font-weight: 400;
color: #2f3f54;
span{
    color: #267ae9;
}

}

.block{
    width: 324px;
    font-size: 16px;
    line-height: 26px;
background-color: #ffffff;
padding-left: 40px;
display: flex;
flex-direction: column;
justify-content: center;

}


.people_img{
    width: 193px;
    height: 347px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #267ae9;

}

.items{
    margin-top: 265px;
}
//------------------------------ slick-dots-------------------------------

.slick-dots
{
   
list-style: none;
    display: flex;
justify-content: center;
    margin-top: 50px;
   

    text-align: center;
}
.slick-dots li
{
    margin: 0 8px;
    
    display: inline-block;

    border-radius: 20px;
 
    cursor: pointer;
}



.slick-dots li button
{
    font-size: 0;
    border-radius: 50%;
outline: none;
border: none;
    background-color:#2575e7;
  
    width: 10px;
height: 10px;

   

    cursor: pointer;

   
}



.slick-dots li  button:active
{
    
    background-color: #fff;
  
    
   border: 2px solid #2575e7;

   

   
}


.slick-dots li.slick-active button
{
   
    background-color: #fff;
  
    
    border: 2px solid #2575e7;
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;


}


// --------------------------footer----------------------------

.footer {
    margin: 0 auto;
   background: #334357;
   
height: 508px;
}

.footer_ {
    display: flex;
    justify-content: space-between; 
}
.footer_column {
    margin-top: 86px;
    margin-right: 140px;
}
.footer_logo {

    display: flex;
    font-family: Roboto;
font-size: 22px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #d0e4ff;

p{
    margin-top: 10px;
    margin-left: 9px;
}
}
.footer_text {
    font-family: Lato;
font-size: 13px;
line-height: 22px;
font-weight: 400;
color: #718db2;
width: 240px;
margin-top: 44px;
}
.footer_titel {
    font-family: Roboto;
font-size: 16px;
line-height: 1.2;
font-weight: 400;
color: #d0e4ff;
width: 126px;
}
.footer_list {
    a{
        font-family: Lato;
font-size: 13px;
line-height: 31px;
font-weight: 400;
color: #718db2;
    }
    font-style: none;
margin-top: 34px;


}

.form{
    width: 270px;
    margin-top: 34px;
    input,textarea{
       
        height: 40px;
        
      
        border: 1px solid rgb(255,255 ,255,.05 );
        background-color: transparent;
      display: block;
      
      width: 100%;
      &::placeholder{
        color: #718db2;
        font-family: Lato;
font-size: 11px;
line-height: 1.2;
font-weight: 400;
color: #718db2;
      }

    }
    textarea{
        padding: 12px;
        height: 85px;
        resize: none;
        margin-bottom: 10px;
    }
    button{
        text-transform: uppercase;
        color: #ffffff;
        width: 60px;
height: 34px;
background-color: #2575e7;

}
}